.DS_Store

**/node_modules/**/*
**/npm-debug.log

node_modules

*.env

# User-defined NPM configuration
.npmrc

# User-defined NVM configuration
.nvmrc

# User-defined Deps configuration
.depsrc

# Config
config
!src/**/config
!lib/**/config
config.env
config.json
