.DS_Store

.circleci
.github
.husky

.editorconfig
.eslintignore
.eslintrc

.gitattributes
.gitignore

# NPM
.npmignore
.npmrc

# NVM
.nvmrc

# Config
config
!src/**/config
config.env
config.json
*.code-workspace

# Mocha
test

# Deps
.depsrc

# Hooks
.husky/hooks
