.DS_Store

.circleci
.github

.editorconfig
.eslintignore
.eslintrc

# NPM
.npmignore
.npmrc

# Config
config
!src/**/config
!lib/**/config
config.env
config.json
*.code-workspace

# Mocha
test

# Deps
.depsrc
